* {
    box-sizing: border-box;
}

:root {
    --color-red:red;
    --color-orange: orange;
    --color-yellow: yellow;
    --color-green: green;
    --color-cyan: cyan;
    --color-blue: blue;
    --color-violet: violet;
    --color-magenta: magenta;
    --color-gray: gray;
}

body {

    margin: 0;

}

.page {
    width: 100vw;
    height: 100vh;
}

.first-page {
    display: grid;
    place-content: center;
}

.container-survey {

    border: 20px solid white;
    background-color: steelblue;
    height: 100vh;
    width: 100vw;

}

.container-player {
    border: 2px solid white;
    margin: 3rem auto 1rem;
    max-width: 400px;
    height: 100px;
}

.container-paleta {
    max-width: 600px;
    margin: 0 auto;
    border: 3px solid khaki;
    text-align: center;
}